.paintings{
    width: 500px;
    object-fit: contain;
    display: inline-block;
}

.txt-search{
    width: 100px;
    display: block;
}

.painting-title{
    font-size: 30px;
}

.painting-info{
    display: block;
}

.text-painting-info{
    display: inline-block;
    opacity: 0.8;
}

.painting-description{
}

.painting-image{
    display:inline-block;
}

.painting-body{
    display:inline-block;
    vertical-align: top;
}



.painting-preview{
    margin-top: 20px;
    display:block;
}