.paintings{
    width: 500px;
    object-fit: contain;
    display: inline-block;
}

.txt-search{
    width: 100px;
    display: block;
}

.painting-title{
}

.painting-info{
    display: block;
}

.text-painting-info{
    display: inline-block;
}

.painting-description{
}

.painting-image{
    display:inline-block;
}

.painting-body{
    display:inline-block;
    vertical-align: top;
}



.painting-preview{
    margin-top: 30px;
    display:block;
}